<div class="ecom-collection-wrapper">
  <div class="page-width">
    <div class="ecom-collection-grid">
      <div class="ecom-collection-grid-item">

      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Ecom Collection",
    "settings": [],
    "presets": [
      {
        "name": "Ecom Collection"
      }
    ]
  }
{% endschema %}