<div class="ecom-collection-wrapper">
  <div class="page-width">
    <div class="ecom-collection-grid">
      {% for block in section.blocks %}
      <div class="ecom-collection-grid-item">
          <h3>{{ block.product.title }}</h3>
      </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Ecom Collection",
    "settings": [],
    "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
    ],
    "presets": [
      {
        "name": "Ecom Collection"
      }
    ]
  }
{% endschema %}