{{ 'ecom-banner.css' | asset_url | stylesheet_tag }}

<div class="ecom-banner-wrapper">
<div class="banner__content ">

</div>
</div>


{% schema %}
  {
    "name": "Ecom Banner",
    "settings": [],
    "presets": [
      {
        "name": "Ecom Banner"
      }
    ]
  }
{% endschema %}