.header-logo {
    display: flex;
    align-items: center;
}
.ecom-header {
    background: #F5F5F5;
}
.ecom-header-row {
    display: flex;
    justify-content: space-between;
      padding: 15px 0;
    align-items: center;
}
.header-title h5 {
    margin: 5px 0;
}

.header-btn {
    background: #FFF544;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
  position: relative;
}
.header-btn:before{
  content: "";
      position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: black;
  transition: .2s ease;
}
.header-btn:hover:before{
    width: 100%;
}
.header-btn span {
    color: white;
    position: relative;
}