.ecom-banner-media {
    position: absolute;
    top: 0;
    left: 0;
}
.ecom-banner-wrapper {
    position: relative;
    height: 80vh;
}
.banner__content {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    background: white;
    z-index: 1;
    padding: 15px;
    padding-left: 50px;
}
.banner__content h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}
.banner__content p {
    font-size: 20px;
    line-height: normal;
}