.header-logo {
    display: flex;
    align-items: center;
}
.ecom-header {
    background: #F5F5F5;
}
.ecom-header-row {
    display: flex;
    justify-content: space-between;
      padding: 15px 0;
    align-items: center;
}
.header-title h5 {
    margin: 5px 0;
}

.header-btn {
  display: block;
    background: #FFF544;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
  position: relative;
  overflow: hidden;
}
.header-btn:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    transition: .3s ease;
    transform: translateX(-100%);
  opacity: 0;
}
.header-btn:hover:before{
  transform: translateX(0%);
  opacity: 1;
}
.header-btn:hover img {
    filter: contrast(10) invert(1);
}
.header-btn:hover span{
  color: white;
}
.header-btn span {
    position: relative;
}