.ecom-banner-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ecom-banner-media img {
    width: 100%;
    object-fit: cover;
}
img.banner-img.mobile {
    display: none;
}
.ecom-banner-wrapper {
    position: relative;
    height: 80vh;
  overflow: hidden;
}
.banner__content {
    position: absolute;
    left: 0;
     bottom: 70px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    background: white;
    z-index: 1;
    padding: 15px;
    padding-left: 50px;
}
.banner__content h1 {
       font-size: clamp(30px,8vw,70px);
    font-weight: bold;
    margin: 0;
    line-height: 1;
}
.banner__content p {
    font-size: 20px;
    line-height: normal;
}
.ecom-banner-bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    width: 100%;
    background: #F5F5F5;
    padding: 5px;
}

.ecom-banner-bottom-bar p {
    margin: 0;
}
@media(max-width:768px){
  img.banner-img.mobile {
    display: block;
}
  img.banner-img.desktop {
    display: none;
}
  .ecom-banner-media{
    position: unset;
  }
  .banner__content {
    position: unset;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px 15px;
}
  .ecom-banner-wrapper {
        padding-top: 50px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
}
}